<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>classpath:spring-servlet.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

  
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc-servlet.xml</param-value>
		</init-param>
			  <!-- load-on-startup 的含义是：标记容器是否在启动的时候就加载这个servlet。当值为0或者大于0时，表示容器在应用启动时就加载这个servlet；
				当是一个负数时或者没有指定时，则指示容器在该servlet被选择时才加载。正数的值越小，启动该servlet的优先级越高。  -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  
<!--   ==========================================================================================================
											 加载自定义标签配置文件								    			  
  --> 
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.msp.cn/jsp/jstl</taglib-uri>
      <taglib-location>/WEB-INF/tld/jwz.tld</taglib-location>
    </taglib>
  </jsp-config>

  
  
<!--  ==========================================================================================================
					定义这个web站台所有session的有效期限.单位为分钟（单位为分钟）
	 -->
	<session-config> 
	    <session-timeout>30</session-timeout> 
	</session-config>  
  
<!--  ==========================================================================================================
					 过滤器filter，可以做登录验证等，具体业务具体应用，所有请求都经该过滤器过滤
	 -->
	<filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>com.wls.util.FilterSession</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  
 <!-- ==========================================================================================================
										  统一字符编码为UTF-8 													
	 -->
	<filter>
		<filter-name>URIFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>URIFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>  
  

 <!-- ==========================================================================================================
											 设置访问时的的首页面 													 
	 -->
	<welcome-file-list>
	  <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
  
 <!-- ==========================================================================================================
										  设置错误页面 															
	 -->
	<error-page>
	   <error-code>404</error-code>
	   <location>/WEB-INF/jsp/ErrorJsp/Error404.jsp</location>
	</error-page>
	<error-page>
	     <error-code>500</error-code>
	     <location>/WEB-INF/jsp/ErrorJsp/Error500.jsp</location>
	</error-page>
	<error-page>
	     <error-code>400</error-code>
	     <location>/WEB-INF/jsp/ErrorJsp/Error400.jsp</location>
	</error-page>


<!--  ==========================================================================================================
					配置发生特定异常跳转到错误处理页面 （如：java.lang.NullPointerException）						
 -->	
 	<error-page> 
	    <exception-type>java.lang.NullPointerException</exception-type> 
	    <location>/WEB-INF/jsp/ErrorJsp/error.jsp</location> 
	</error-page>



</web-app>